<!DOCTYPE html>
<html lang="en" data-theme="dark">

<head>
    <meta charset=" UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ShortenFast</title>
    {% load static %}
    <script src="{% static 'js/htmx.min.js' %}"></script>
    <script src="{% static 'js/alpine.min.js' %}"></script>
    <link href="{% static 'daisyui/output.css' %}" rel="stylesheet" type="text/css" />
</head>

<body>
    <div class="min-h-screen bg-base-200">
        <header>
            <nav class="navbar bg-base- shadow-sm">
                <div class="flex-1">
                    <a href="{% url 'links:home' %}" class="btn btn-ghost text-xl">ShortenFast</a>
                </div>
                <div class="flex-none">
                    <ul class="menu menu-horizontal px-1">
                        {% if user.is_authenticated %}
                        <li>
                            <form method="post" action="{% url 'users:logout' %}">
                                {% csrf_token %}
                                <button type="submit">
                                    LogOut
                                </button>
                            </form>
                        </li>
                        {% endif %}

                        <li>
                            <a href="{% url 'users:register' %}">SignUp</a>
                        </li>
                        <li>
                            <a href="{% url 'users:login' %}">Login</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <main>
            {% block content %}
            {% endblock %}
        </main>
    </div>
</body>

</html>